<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta name="description" content="I'm an experienced software engineer in Japan." />
    <meta name='keywords' content="perforb, software, engineer, technology, programming">
    <meta name='author' content='perforb'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>
